In [1]:
import pandas as pd

# 1. 파일 읽기

In [2]:
PL = "/Users/pervin0527/Upstage_Ai_Lab/04_EDA/project/Leagues/England-Premier-League"
L1 = "/Users/pervin0527/Upstage_Ai_Lab/04_EDA/project/Leagues/France-Ligue-1"
GB = "/Users/pervin0527/Upstage_Ai_Lab/04_EDA/project/Leagues/Germany-Bundesliga"
SA = "/Users/pervin0527/Upstage_Ai_Lab/04_EDA/project/Leagues/Italy-Serie-A"
LL = "/Users/pervin0527/Upstage_Ai_Lab/04_EDA/project/Leagues/Spain-LaLiga"

In [3]:
PL_PLAYER_STATS = f'{PL}/22-23_players_stats.csv'
L1_PLAYER_STATS = f'{L1}/22-23_players_stats.csv'
GB_PLAYER_STATS = f'{GB}/22-23_players_stats.csv'
SA_PLAYER_STATS = f'{SA}/22-23_players_stats.csv'
LL_PLAYER_STATS = f'{LL}/22-23_players_stats.csv'

PL_TEAM_STATS = f'{PL}/22-23_teams_stats.csv'
L1_TEAM_STATS = f'{L1}/22-23_teams_stats.csv'
GB_TEAM_STATS = f'{GB}/22-23_teams_stats.csv'
SA_TEAM_STATS = f'{SA}/22-23_teams_stats.csv'
LL_TEAM_STATS = f'{LL}/22-23_teams_stats.csv'

PL_PLAYER_VALUES = f'{PL}/22-23_players_values.csv'
L1_PLAYER_VALUES = f'{L1}/22-23_players_values.csv'
GB_PLAYER_VALUES = f'{GB}/22-23_players_values.csv'
SA_PLAYER_VALUES = f'{SA}/22-23_players_values.csv'
LL_PLAYER_VALUES = f'{LL}/22-23_players_values.csv'

PL_TEAM_VALUES = f'{PL}/22-23_teams_values.csv'
L1_TEAM_VALUES = f'{L1}/22-23_teams_values.csv'
GB_TEAM_VALUES = f'{GB}/22-23_teams_values.csv'
SA_TEAM_VALUES = f'{SA}/22-23_teams_values.csv'
LL_TEAM_VALUES = f'{LL}/22-23_teams_values.csv'


# ['LM', 'Midfielder', 'Goalkeeper', 'RM', 'CB', 'LB', 'CM', 'CAM', 'RAM', 'GK', 'CDM', 'LAM', 'RB', 'FW', 'Defender']
# ['Midfielder', 'Goalkeeper', 'M(C)', 'D(CR)', 'M(CL)', 'AM(CL)', 'AM(L)', 'AM(R)', 'M(LR)', 'D(L)', 'DMC', 'D(R)', 'M(CR)', 'D(CLR)', 'D(LR)', 'AM(CR)', 'AM(CLR)', 'AM(C)', 'D(C)', 'M(CLR)', 'AM(LR)', 'M(R)', 'M(L)', 'Forward', 'D(CL)', 'GK', 'FW', 'Defender']

POS_FILTER = {
    'AM(CLR)'    : 'CAM, LAM, RAM',
    'M(CLR)'     : 'CM, LM, RM',
    'D(CLR)'     : 'CB, LB, RB',
    'AM(LR)'     : 'LAM, RAM',
    'AM(CL)'     : 'CAM, LAM',
    'AM(CR)'     : 'CAM, RAM',
    'AM(R)'      : 'CAM, RAM',
    'D(CL)'      : 'CB, LB',
    'D(LR)'      : 'LB, RB',
    'M(LR)'      : 'LM, RM',
    'D(CR)'      : 'CB, RB',
    'M(CR)'      : 'CM, RM',
    'M(CL)'      : 'CM, LM',
    'DMC'        : 'CDM',
    'AM(C)'      : 'CAM',
    'D(C)'       : 'CB',
    'M(R)'       : 'RM',
    'D(L)'       : 'LB',
    'D(R)'       : 'RB',
    'AM(L)'      : 'LAM',
    'M(C)'       : 'CM',
    'M(L)'       : 'LM',
    'FW'         : 'FW',
    'GK'         : 'GK',
    'Forward'    : 'FW',
    'Midfielder' : 'CM',
    'Goalkeeper' : 'GK',
    'Defender'   : 'CB'
}

In [4]:
pl_player_stats_df = pd.read_csv(PL_PLAYER_STATS)
l1_player_stats_df = pd.read_csv(L1_PLAYER_STATS)
gb_player_stats_df = pd.read_csv(GB_PLAYER_STATS)
sa_player_stats_df = pd.read_csv(SA_PLAYER_STATS)
ll_player_stats_df = pd.read_csv(LL_PLAYER_STATS)

pl_team_stats_df = pd.read_csv(PL_TEAM_STATS)
l1_team_stats_df = pd.read_csv(L1_TEAM_STATS)
gb_team_stats_df = pd.read_csv(GB_TEAM_STATS)
sa_team_stats_df = pd.read_csv(SA_TEAM_STATS)
ll_team_stats_df = pd.read_csv(LL_TEAM_STATS)

pl_player_values_df = pd.read_csv(PL_PLAYER_VALUES)
l1_player_values_df = pd.read_csv(L1_PLAYER_VALUES)
gb_player_values_df = pd.read_csv(GB_PLAYER_VALUES)
sa_player_values_df = pd.read_csv(SA_PLAYER_VALUES)
ll_player_values_df = pd.read_csv(LL_PLAYER_VALUES)

pl_team_values_df = pd.read_csv(PL_TEAM_VALUES)
l1_team_values_df = pd.read_csv(L1_TEAM_VALUES)
gb_team_values_df = pd.read_csv(GB_TEAM_VALUES)
sa_team_values_df = pd.read_csv(SA_TEAM_VALUES)
ll_team_values_df = pd.read_csv(LL_TEAM_VALUES)

In [5]:
pl_player_stats_df.head()

,Unnamed: 0.1,Unnamed: 0,player_name,team_name,age,position,Apps,Mins,Goals,Assists,...,Unsuccessful touches,Average_per_pass,Crosses_per_game,Longpass_per_game,Through_ball_per_game,xG,xGDiff,xGPerNinety,totalShots,xGPerShot
0,0,0,Asmir Begovic,Everton,36,GK,1,90,0,0,...,0.0,25.0,0.0,5.0,0.0,NaN,NaN,NaN,NaN,NaN
1,1,1,Kevin De Bruyne,Man City,32,"M(CLR),FW",28(4),2425,7,16,...,1.3,42.4,2.0,2.5,0.5,4.93,2.07,0.18,65.0,0.08
2,2,2,Stefan Ortega,Man City,31,GK,3,270,0,0,...,0.0,50.3,0.0,7.3,0.0,NaN,NaN,NaN,NaN,NaN
3,3,3,Erling Haaland,Man City,23,FW,33(2),2779,36,8,...,1.5,13.7,0.0,0.1,0.1,30.88,5.12,1.00,123.0,0.25
4,4,4,Harry Kane,Tottenham,30,"AM(C),FW",38,3408,30,3,...,1.9,22.4,0.2,1.9,0.3,22.49,7.51,0.59,130.0,0.17

# 2. 불필요한 컬럼 제거

In [6]:
pl_team_stats_df.drop(['Unnamed: 0.1', 'Unnamed: 0'], axis=1, inplace=True)
l1_team_stats_df.drop(['Unnamed: 0.1', 'Unnamed: 0'], axis=1, inplace=True)
gb_team_stats_df.drop(['Unnamed: 0.1', 'Unnamed: 0'], axis=1, inplace=True)
sa_team_stats_df.drop(['Unnamed: 0.1', 'Unnamed: 0'], axis=1, inplace=True)
ll_team_stats_df.drop(['Unnamed: 0.1', 'Unnamed: 0'], axis=1, inplace=True)

pl_player_stats_df.drop(['Unnamed: 0.1', 'Unnamed: 0'], axis=1, inplace=True)
l1_player_stats_df.drop(['Unnamed: 0.1', 'Unnamed: 0'], axis=1, inplace=True)
gb_player_stats_df.drop(['Unnamed: 0.1', 'Unnamed: 0'], axis=1, inplace=True)
sa_player_stats_df.drop(['Unnamed: 0.1', 'Unnamed: 0'], axis=1, inplace=True)
ll_player_stats_df.drop(['Unnamed: 0.1', 'Unnamed: 0'], axis=1, inplace=True)

In [7]:
pl_player_stats_df.head()

,player_name,team_name,age,position,Apps,Mins,Goals,Assists,Yel,Red,...,Unsuccessful touches,Average_per_pass,Crosses_per_game,Longpass_per_game,Through_ball_per_game,xG,xGDiff,xGPerNinety,totalShots,xGPerShot
0,Asmir Begovic,Everton,36,GK,1,90,0,0,0,0,...,0.0,25.0,0.0,5.0,0.0,NaN,NaN,NaN,NaN,NaN
1,Kevin De Bruyne,Man City,32,"M(CLR),FW",28(4),2425,7,16,1,0,...,1.3,42.4,2.0,2.5,0.5,4.93,2.07,0.18,65.0,0.08
2,Stefan Ortega,Man City,31,GK,3,270,0,0,0,0,...,0.0,50.3,0.0,7.3,0.0,NaN,NaN,NaN,NaN,NaN
3,Erling Haaland,Man City,23,FW,33(2),2779,36,8,5,0,...,1.5,13.7,0.0,0.1,0.1,30.88,5.12,1.00,123.0,0.25
4,Harry Kane,Tottenham,30,"AM(C),FW",38,3408,30,3,6,0,...,1.9,22.4,0.2,1.9,0.3,22.49,7.51,0.59,130.0,0.17

In [8]:
pl_team_values_df.drop(['Unnamed: 0'], axis=1, inplace=True)
l1_team_values_df.drop(['Unnamed: 0'], axis=1, inplace=True)
gb_team_values_df.drop(['Unnamed: 0'], axis=1, inplace=True)
sa_team_values_df.drop(['Unnamed: 0'], axis=1, inplace=True)
ll_team_values_df.drop(['Unnamed: 0'], axis=1, inplace=True)

pl_player_values_df.drop(['Unnamed: 0'], axis=1, inplace=True) 
l1_player_values_df.drop(['Unnamed: 0'], axis=1, inplace=True)
gb_player_values_df.drop(['Unnamed: 0'], axis=1, inplace=True)
sa_player_values_df.drop(['Unnamed: 0'], axis=1, inplace=True)
ll_player_values_df.drop(['Unnamed: 0'], axis=1, inplace=True)

# 3.중복된 선수 제거

In [9]:
pl_player_stats_df.drop_duplicates(subset=['player_name', 'team_name'], keep='first', inplace=True)
l1_player_stats_df.drop_duplicates(subset=['player_name', 'team_name'], keep='first', inplace=True)
gb_player_stats_df.drop_duplicates(subset=['player_name', 'team_name'], keep='first', inplace=True)
sa_player_stats_df.drop_duplicates(subset=['player_name', 'team_name'], keep='first', inplace=True)
ll_player_stats_df.drop_duplicates(subset=['player_name', 'team_name'], keep='first', inplace=True)

num_kyle_walker = pl_player_stats_df[pl_player_stats_df['player_name'] == 'Kyle Walker'].shape[0]
print(num_kyle_walker)

pl_player_stats_df.head()

1

,player_name,team_name,age,position,Apps,Mins,Goals,Assists,Yel,Red,...,Unsuccessful touches,Average_per_pass,Crosses_per_game,Longpass_per_game,Through_ball_per_game,xG,xGDiff,xGPerNinety,totalShots,xGPerShot
0,Asmir Begovic,Everton,36,GK,1,90,0,0,0,0,...,0.0,25.0,0.0,5.0,0.0,NaN,NaN,NaN,NaN,NaN
1,Kevin De Bruyne,Man City,32,"M(CLR),FW",28(4),2425,7,16,1,0,...,1.3,42.4,2.0,2.5,0.5,4.93,2.07,0.18,65.0,0.08
2,Stefan Ortega,Man City,31,GK,3,270,0,0,0,0,...,0.0,50.3,0.0,7.3,0.0,NaN,NaN,NaN,NaN,NaN
3,Erling Haaland,Man City,23,FW,33(2),2779,36,8,5,0,...,1.5,13.7,0.0,0.1,0.1,30.88,5.12,1.00,123.0,0.25
4,Harry Kane,Tottenham,30,"AM(C),FW",38,3408,30,3,6,0,...,1.9,22.4,0.2,1.9,0.3,22.49,7.51,0.59,130.0,0.17

In [10]:
pl_team_stats_df.head()

,team_name,P,W,D,L,GF,GA,GD,Pts,Goals,...,Fouls pg,Offsides pg,Shots OT pg,Dribbles pg,Fouled pg,xG,GoalsDiff,xGDiff,Shots,xG/shots
0,Manchester City,38,28,5,5,94,33,61,89,94,...,9.1,1.3,5.8,5.8,5.8,81.39,92,10.61,600,0.14
1,Arsenal,38,26,6,6,88,43,45,84,88,...,9.8,1.5,5.4,5.4,5.4,71.36,84,12.64,593,0.12
2,Manchester United,38,23,6,9,58,43,15,75,58,...,11.2,2.1,5.7,5.7,5.7,67.92,56,-11.92,593,0.11
3,Newcastle,38,19,14,5,68,33,35,71,68,...,10.7,1.9,5.2,5.2,5.2,73.75,64,-9.75,571,0.13
4,Liverpool,38,19,10,9,75,47,28,67,75,...,10.7,2.2,5.6,5.6,5.6,78.59,71,-7.59,605,0.13

In [11]:
pl_player_values_df.head()

,Name,Team,Position,Date of Birth,Age,Nationality,Market Value
0,Ederson,Manchester City,Goalkeeper,"Aug 17, 1993",29,Brazil,€40.00m
1,Stefan Ortega,Manchester City,Goalkeeper,"Nov 6, 1992",30,Germany,€9.00m
2,Zack Steffen,Manchester City,Goalkeeper,"Apr 2, 1995",28,United States,€3.50m
3,Scott Carson,Manchester City,Goalkeeper,"Sep 3, 1985",37,England,€200k
4,Rúben Dias,Manchester City,Centre-Back,"May 14, 1997",26,Portugal,€80.00m

In [12]:
pl_team_values_df.head()

,Club,Squad,Avg age,Foreigners,Avg market values,Total Market Values
0,Manchester City,34,25.5,21,€33.70m,€1.15bn
1,Arsenal FC,42,23.5,25,€23.83m,€1.00bn
2,Chelsea FC,43,24.7,28,€23.14m,€994.95m
3,Manchester United,48,24.9,28,€17.67m,€848.00m
4,Liverpool FC,39,25.1,24,€20.82m,€811.85m

# 4. 포지션 정제 및 세분화

In [13]:
player_stats_df = [pl_player_stats_df, l1_player_stats_df, gb_player_stats_df, sa_player_stats_df, ll_player_stats_df]

In [14]:
unique_positions_set = set()
for df in player_stats_df:
    unique_positions = df['position'].unique()
    unique_positions_set.update(unique_positions)

position_words = set()
for position in unique_positions_set:
    parts = position.split(',')
    for part in parts:
        cleaned_part = part.strip()
        position_words.add(cleaned_part)

print(list(position_words))

['M(R)', 'M(LR)', 'M(CLR)', 'D(C)', 'GK', 'D(CL)', 'AM(R)', 'D(L)', 'Forward', 'Defender', 'AM(L)', 'M(C)', 'M(CL)', 'D(CR)', 'AM(CR)', 'AM(C)', 'AM(CLR)', 'Goalkeeper', 'M(L)', 'AM(LR)', 'Midfielder', 'D(R)', 'AM(CL)', 'D(LR)', 'D(CLR)', 'M(CR)', 'DMC', 'FW']

In [15]:
def map_positions(pos):
    positions = [p.strip() for p in pos.split(',')]
    mapped_positions = [POS_FILTER.get(p, p) for p in positions]
    return ', '.join(mapped_positions)

df['position'] = df['position'].apply(map_positions)
print(player_stats_df[0]['position'].head(20))

0               GK
1        M(CLR),FW
2               GK
3               FW
4         AM(C),FW
5           M(CLR)
6        AM(LR),FW
7       D(LR),M(R)
8      D(L),M(CLR)
9           M(CLR)
10       AM(CL),FW
11          AM(CR)
12        D(C),DMC
13        AM(L),FW
14              FW
15      AM(CLR),FW
16         AM(CLR)
17            M(C)
18             DMC
19        D(C),DMC
Name: position, dtype: object

In [16]:
pl_player_stats_df['position'] = pl_player_stats_df['position'].apply(map_positions)
l1_player_stats_df['position'] = l1_player_stats_df['position'].apply(map_positions)
gb_player_stats_df['position'] = gb_player_stats_df['position'].apply(map_positions)
sa_player_stats_df['position'] = sa_player_stats_df['position'].apply(map_positions)
ll_player_stats_df['position'] = ll_player_stats_df['position'].apply(map_positions)

In [17]:
unique_positions_set = set()
for df in player_stats_df:
    unique_positions = df['position'].unique()
    unique_positions_set.update(unique_positions)

position_words = set()
for position in unique_positions_set:
    parts = position.split(',')
    for part in parts:
        cleaned_part = part.strip()
        position_words.add(cleaned_part)

print(list(position_words))

['LB', 'CDM', 'RAM', 'CB', 'CAM', 'RM', 'LAM', 'GK', 'RB', 'CM', 'FW', 'LM']

In [18]:
def split_positions(df):
    position_split = df['position'].str.split(',', expand=True)
    position_split.columns = [f'position_{i+1}' for i in range(position_split.shape[1])]
    result_df = pd.concat([df, position_split], axis=1)
    
    return result_df

pl_player_stats_df = split_positions(pl_player_stats_df)
l1_player_stats_df = split_positions(l1_player_stats_df)
gb_player_stats_df = split_positions(gb_player_stats_df)
sa_player_stats_df = split_positions(sa_player_stats_df)
ll_player_stats_df = split_positions(ll_player_stats_df)

# 5. 선수 데이터프레임의 팀명을 팀 데이터프레임의 이름으로 변경

In [19]:
def team_name_mapper(player_df, team_df):
    player_teams_unique = sorted(player_df['team_name'].unique())
    team_teams_unique = sorted(team_df['team_name'].unique())

    team_name_dict = {}
    for pt, tt in zip(player_teams_unique, team_teams_unique):
        team_name_dict[pt] = tt
        # print(f"{pt} : {tt}")

    return team_name_dict


mapping_dict = team_name_mapper(pl_player_stats_df, pl_team_stats_df)
for key, value in mapping_dict.items():
    print(key, value)
pl_player_stats_df['team_name'] = pl_player_stats_df['team_name'].map(mapping_dict)

Arsenal Arsenal
Aston Villa Aston Villa
Bournemouth Bournemouth
Brentford Brentford
Brighton Brighton
Chelsea Chelsea
Crystal Palace Crystal Palace
Everton Everton
Fulham Fulham
Leeds Leeds
Leicester Leicester
Liverpool Liverpool
Man City Manchester City
Man Utd Manchester United
Newcastle Newcastle
Nottingham Forest Nottingham Forest
Southampton Southampton
Tottenham Tottenham
West Ham West Ham
Wolves Wolves

In [20]:
mapping_dict = team_name_mapper(l1_player_stats_df, l1_team_stats_df)
for key, value in mapping_dict.items():
    print(key, value)
l1_player_stats_df['team_name'] = l1_player_stats_df['team_name'].map(mapping_dict)

AC Ajaccio AC Ajaccio
Angers Angers
Auxerre Auxerre
Brest Brest
Clermont Foot Clermont Foot
Lens Lens
Lille Lille
Lorient Lorient
Lyon Lyon
Marseille Marseille
Monaco Monaco
Montpellier Montpellier
Nantes Nantes
Nice Nice
PSG Paris Saint-Germain
Reims Reims
Rennes Rennes
Strasbourg Strasbourg
Toulouse Toulouse
Troyes Troyes

In [21]:
mapping_dict = {
    "Augsburg": "Augsburg",
    "Leverkusen": "Bayer Leverkusen",
    "Bayern": "Bayern Munich",
    "Bochum": "Bochum",
    "Borussia Dortmund": "Borussia Dortmund",
    "Borussia M.Gladbach": "Borussia M.Gladbach",
    "Eintracht Frankfurt": "Eintracht Frankfurt",
    "FC Koln": "FC Koln",
    "Freiburg": "Freiburg",
    "Hertha Berlin": "Hertha Berlin",
    "Hoffenheim": "Hoffenheim",
    "Mainz": "Mainz 05",
    "RBL": "RB Leipzig",
    "Schalke": "Schalke 04",
    "Union Berlin": "Union Berlin",
    "Stuttgart": "VfB Stuttgart",
    "Werder Bremen": "Werder Bremen",
    "Wolfsburg": "Wolfsburg"
}

for key, value in mapping_dict.items():
    print(key, value)

gb_player_stats_df['team_name'] = gb_player_stats_df['team_name'].map(mapping_dict)

Augsburg Augsburg
Leverkusen Bayer Leverkusen
Bayern Bayern Munich
Bochum Bochum
Borussia Dortmund Borussia Dortmund
Borussia M.Gladbach Borussia M.Gladbach
Eintracht Frankfurt Eintracht Frankfurt
FC Koln FC Koln
Freiburg Freiburg
Hertha Berlin Hertha Berlin
Hoffenheim Hoffenheim
Mainz Mainz 05
RBL RB Leipzig
Schalke Schalke 04
Union Berlin Union Berlin
Stuttgart VfB Stuttgart
Werder Bremen Werder Bremen
Wolfsburg Wolfsburg

In [22]:
mapping_dict = team_name_mapper(sa_player_stats_df, sa_team_stats_df)
for key, value in mapping_dict.items():
    print(key, value)
sa_player_stats_df['team_name'] = sa_player_stats_df['team_name'].map(mapping_dict)

AC Milan AC Milan
Atalanta Atalanta
Bologna Bologna
Cremonese Cremonese
Empoli Empoli
Fiorentina Fiorentina
Inter Inter
Juventus Juventus
Lazio Lazio
Lecce Lecce
Monza Monza
Napoli Napoli
Roma Roma
Salernitana Salernitana
Sampdoria Sampdoria
Sassuolo Sassuolo
Spezia Spezia
Torino Torino
Udinese Udinese
Verona Verona

In [23]:
mapping_dict = team_name_mapper(ll_player_stats_df, ll_team_stats_df)
for key, value in mapping_dict.items():
    print(key, value)
ll_player_stats_df['team_name'] = ll_player_stats_df['team_name'].map(mapping_dict)

Almeria Almeria
Athletic Club Athletic Club
Atletico Atletico Madrid
Barcelona Barcelona
Cadiz Cadiz
Celta Vigo Celta Vigo
Elche Elche
Espanyol Espanyol
Getafe Getafe
Girona Girona
Mallorca Mallorca
Osasuna Osasuna
Rayo Vallecano Rayo Vallecano
Real Betis Real Betis
Real Madrid Real Madrid
Real Sociedad Real Sociedad
Real Valladolid Real Valladolid
Sevilla Sevilla
Valencia Valencia
Villarreal Villarreal

# 6. 저장

In [24]:
pl_player_stats_df.to_csv(f"{PL}/22-23_players_stats-cleaned.csv", index=False)
l1_player_stats_df.to_csv(f"{L1}/22-23_players_stats-cleaned.csv", index=False)
gb_player_stats_df.to_csv(f"{GB}/22-23_players_stats-cleaned.csv", index=False)
sa_player_stats_df.to_csv(f"{SA}/22-23_players_stats-cleaned.csv", index=False)
ll_player_stats_df.to_csv(f"{LL}/22-23_players_stats-cleaned.csv", index=False)

pl_team_stats_df.to_csv(f"{PL}/22-23_teams_stats-cleaned.csv", index=False)
l1_team_stats_df.to_csv(f"{L1}/22-23_teams_stats-cleaned.csv", index=False)
gb_team_stats_df.to_csv(f"{GB}/22-23_teams_stats-cleaned.csv", index=False)
sa_team_stats_df.to_csv(f"{SA}/22-23_teams_stats-cleaned.csv", index=False)
ll_team_stats_df.to_csv(f"{LL}/22-23_teams_stats-cleaned.csv", index=False)

pl_player_values_df.to_csv(f"{PL}/22-23_players_values-cleaned.csv", index=False)
l1_player_values_df.to_csv(f"{L1}/22-23_players_values-cleaned.csv", index=False)
gb_player_values_df.to_csv(f"{GB}/22-23_players_values-cleaned.csv", index=False)
sa_player_values_df.to_csv(f"{SA}/22-23_players_values-cleaned.csv", index=False)
ll_player_values_df.to_csv(f"{LL}/22-23_players_values-cleaned.csv", index=False)

pl_team_values_df.to_csv(f"{PL}/22-23_teams_values-cleaned.csv", index=False)
l1_team_values_df.to_csv(f"{L1}/22-23_teams_values-cleaned.csv", index=False)
gb_team_values_df.to_csv(f"{GB}/22-23_teams_values-cleaned.csv", index=False)
sa_team_values_df.to_csv(f"{SA}/22-23_teams_values-cleaned.csv", index=False)
ll_team_values_df.to_csv(f"{LL}/22-23_teams_values-cleaned.csv", index=False)

/opt/anaconda3/lib/python3.9/site-packages/pandas/core/internals/blocks.py:2201: RuntimeWarning: invalid value encountered in cast
  values = values.astype(str)